@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:wght@300;900&family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:wght@300;900&family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:wght@300;900&family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,700;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  user-select: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
}

input, button, textarea {
  font-family: inherit;
  border: none;
}

input {
  display: block;
}

button {
  border: none;
  cursor: pointer;
  display: inline-block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background: #FFFFFF;
  font-size: 12px;
  line-height: 1.1;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}

.headar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 7;
}
.headar:before {
  background-color: #009CB0;
  border-radius: 50%;
  bottom: 60px;
  content: "";
  z-index: 1;
  display: block;
  height: 350px;
  left: 50%;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  width: 350px;
}

.navigation {
  color: #FFFFFF;
  background: linear-gradient(90deg, #009cb0 1%, #009cb0 37%, #009cb0 70%, #009cb0 92%);
  box-shadow: 4px 6px 10px rgba(0, 156, 176, 0.25);
}

.nav {
  padding: 20px 0 0 0;
  display: flex;
}
.nav__items {
  flex-basis: calc( 100% /3  );
}
.nav__nav {
  margin-right: auto;
  display: flex;
}
.nav__item {
  margin-bottom: 13px;
}
.nav__item:nth-last-child(2n+1) {
  margin-bottom: 0;
}
.nav__link {
  text-align: left;
  line-height: 1.3;
  text-decoration: underline;
  font-family: "Play", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 9px 15px;
  border-radius: 50px;
  transition: 0.2s linear;
}
.nav__link:hover {
  background: #068292;
}
.nav__logo {
  text-align: center;
  z-index: 5;
  align-items: flex-end;
}
.nav__logo__item {
  font-family: "Play", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #FFFFFF;
}
.nav__logo__link {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.nav__con {
  display: flex;
}
.nav__grup {
  align-self: center;
  position: relative;
  padding: 0 14px 0 30px;
  border-right: 1px solid #FFFFFF;
}
.nav__grup:last-child {
  border-right: 0;
  padding: 0 0 0 14px;
}
.nav__grup__icon {
  position: absolute;
  bottom: 3px;
  left: 5px;
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}
.nav__citi {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
}
.nav__tel {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 18px;
}

.profil {
  padding-top: 40px;
  background: white;
}
.profil__nav {
  display: flex;
  justify-content: space-between;
}
.profil__navs {
  display: flex;
  flex-basis: calc( 50% - 105px );
  justify-content: space-between;
}
.profil__inner--calendar {
  display: flex;
  align-self: center;
  fill: rgba(153, 153, 153, 0.9);
}
.profil__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  fill: rgba(153, 153, 153, 0.9);
  color: rgba(153, 153, 153, 0.9);
  transition: 0.2s linear;
}
.profil__link:hover {
  fill: #009CB0;
  color: #009CB0;
}
.profil__link--shop:hover {
  fill: #FFFFFF;
  color: #009CB0;
}
.profil__inner--shop {
  position: relative;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}
.profil__inner--shop:hover {
  background: #009CB0;
  fill: #FFFFFF;
}
.profil__item {
  margin: auto;
}
.profil__icon {
  padding-right: 4px;
  width: 27px;
  height: 35px;
}
.profil__icon--shop {
  margin: 0 auto;
}
.profil__items {
  opacity: 0;
}
.profil__items--active {
  opacity: 100;
  position: absolute;
  top: 5px;
  color: #FFFFFF;
  right: -19px;
  font-size: 14px;
  font-weight: 700;
  padding: 2px 7px;
  background: #FD8322;
  border-radius: 50px;
}
.profil__links {
  font-size: 14px;
  font-weight: 300;
  border-bottom: 1px dotted rgba(153, 153, 153, 0.9);
}
.profil__links--no {
  color: rgba(153, 153, 153, 0.9);
  font-size: 14px;
  font-weight: 300;
  border-bottom: none;
}

.page {
  height: 100%;
  padding-top: 190px;
}

.wrapper {
  display: flex;
}

.section {
  flex-basis: calc( 100% - 260px );
  background: blue;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  user-select: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
}

input, button, textarea {
  font-family: inherit;
  border: none;
}

input {
  display: block;
}

button {
  border: none;
  cursor: pointer;
  display: inline-block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.menu {
  flex-basis: 260px;
  margin-right: 30px;
  position: relative;
}
.menu__headar {
  background: #009CB0;
  padding: 25px 22px;
  display: flex;
  align-items: center;
}
.menu__title {
  text-transform: uppercase;
  font-family: "Nunito Sans", sans-serif;
  font-size: 30px;
  color: #FFFFFF;
  font-weight: 700;
}
.menu__products {
  overflow-y: hidden;
  max-height: 0;
  background: #009CB0;
  transition: max-height 0.3s linear;
}
.menu__products.activ {
  max-height: 100%;
}
.menu__inner {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.menu__inner:last-child {
  border-bottom: none;
}
.menu__inner:hover {
  background-color: #098494;
}
.menu__item {
  display: flex;
  padding: 20px 15px 15px 15px;
}
.menu__link {
  display: block;
  font-size: 12px;
  color: #FFFFFF;
  font-weight: 300;
  line-height: 1.3;
  margin-right: auto;
}
.menu__icon {
  width: 17px;
  height: 17px;
  fill: #FFFFFF;
}

.news {
  margin-top: 45px;
}
.news__title {
  text-transform: uppercase;
  font-size: 30px;
  color: rgba(153, 153, 153, 0.6);
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
}
.news__inner {
  margin-top: 47px;
}
.news__subtitle {
  font-size: 12px;
  font-weight: 900;
  color: #FD8322;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.news__content {
  display: flex;
}
.news__time {
  font-weight: 900;
  font-size: 18px;
  color: rgba(153, 153, 153, 0.6);
  flex-basis: 30px;
  margin-right: 18px;
}
.news__text {
  font-size: 12px;
  color: #999999;
  line-height: 1.3;
}

.reviews {
  margin-top: 60px;
}
.reviews__title {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 30px;
  color: rgba(153, 153, 153, 0.6);
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
}
.reviews__inner {
  margin-bottom: 40px;
}
.reviews__inner:hover .reviews__name, .reviews__inner:hover .reviews__time {
  color: #009CB0;
}
.reviews__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.reviews__name {
  font-size: 12px;
  font-weight: 900;
  line-height: 1.3;
}
.reviews__time {
  ze: 12px;
  font-weight: 300;
  line-height: 1.3;
}
.reviews__contents {
  display: flex;
}
.reviews__icon {
  font-size: 25px;
  width: 25px;
  height: 18px;
  fill: rgba(153, 153, 153, 0.6);
}
.reviews__text {
  cursor: pointer;
  flex-basis: calc(100%-30px  );
  display: block;
  font-size: 12px;
  line-height: 1.3;
}
.reviews__text:hover {
  background: #009CB0;
  color: #FFFFFF;
}

.burger {
  position: relative;
  font-size: 0;
  color: transporent;
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  transition: 0.2s linear;
}
.burger__btn {
  margin: 0 auto;
  border-radius: 4px;
  display: block;
  width: 25px;
  height: 3px;
  background-color: #FFFFFF;
}
.burger__btn::before, .burger__btn::after {
  border-radius: 4px;
  position: absolute;
  content: "";
  display: block;
  background-color: #FFFFFF;
  width: 25px;
  height: 3px;
  left: 0px;
  top: 9px;
}
.burger__btn::after {
  top: 23px;
}
.burger:hover {
  background-color: #0e7a88;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  user-select: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
}

input, button, textarea {
  font-family: inherit;
  border: none;
}

input {
  display: block;
}

button {
  border: none;
  cursor: pointer;
  display: inline-block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  height: 53.7%;
  width: 280px;
  border: 2px solid #009CB0;
  background-color: #FFFFFF;
}
