@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:wght@300;900&family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,700;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  user-select: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
}

input, button, textarea {
  font-family: inherit;
  border: none;
}

input {
  display: block;
}

button {
  border: none;
  cursor: pointer;
  display: inline-block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body, html {
  height: 100%;
  background: #FFFFFF;
  font-size: 12px;
  line-height: 1.1;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  z-index: 4;
  position: fixed;
  height: auto;
  display: flex;
  flex-direction: column;
}
.header__top {
  height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 6;
  background-color: #009CB0;
  color: #FFFFFF;
  background: linear-gradient(90deg, #009cb0 1%, #009cb0 37%, #009cb0 70%, #009cb0 92%);
  box-shadow: 4px 6px 10px rgba(0, 156, 176, 0.25);
}
.header__botton {
  position: fixed;
  top: 75px;
  width: 100%;
  left: 0;
  z-index: 5;
  background-color: #FFFFFF;
}

.navigation {
  padding: 20px 0;
  position: relative;
  display: flex;
  color: #FFFFFF;
  align-items: center;
  justify-content: space-between;
}
.navigation__items {
  display: flex;
  align-self: center;
}
.navigation__nav {
  display: flex;
}
@media (max-width: 980px) {
  .navigation__nav {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 980px) {
  .navigation__nav {
    opacity: 0;
    z-index: -1;
    background-color: #FFFFFF;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 100px 20px 30px 20px;
    transition: all 0.2s ease 0.1s;
  }
  .navigation__nav::before {
    position: absolute;
    z-index: 7;
    width: 100%;
    content: "";
    height: 90px;
    top: 0;
    left: 0;
    background-color: #009CB0;
  }
  .navigation__nav.activ {
    opacity: 1;
  }
}
@media (max-width: 980px) {
  .navigation__inner {
    margin-bottom: 5px;
  }
}
.navigation__item {
  margin-right: auto;
  margin-bottom: 13px;
}
@media (max-width: 980px) {
  .navigation__item {
    margin-bottom: 5px;
    margin-top: 10px;
  }
}
.navigation__item:nth-last-child(2n+1) {
  margin-bottom: 0;
}
.navigation__link {
  text-align: left;
  line-height: 1.3;
  text-decoration: underline;
  font-family: "Play", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 9px 15px;
  border-radius: 50px;
  transition: 0.2s linear;
}
.navigation__link:hover {
  background: #068292;
}
@media (max-width: 972px) {
  .navigation__link {
    font-size: 18px;
    color: #333333;
  }
  .navigation__link:hover {
    background: #068292;
    color: #FFFFFF;
  }
}
.navigation__logo {
  top: 50%;
  position: absolute;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 10;
}
.navigation__logo::before {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 50%;
  display: block;
  content: "";
  width: 250px;
  height: 150px;
  border-radius: 100%;
  background: linear-gradient(90deg, #009cb0 1%, #009cb0 37%, #009cb0 70%, #009cb0 92%);
  transform: translate(50%, -50%);
}
@media (max-width: 600px) {
  .navigation__logo::before {
    display: none;
  }
}
.navigation__logos {
  text-align: center;
  position: relative;
  z-index: 15;
}
.navigation__title {
  font-family: "Play", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #FFFFFF;
}
.navigation__subtitle {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.navigation__telephone {
  align-items: center;
  display: flex;
}
@media (max-width: 880px) {
  .navigation__telephone {
    align-items: flex-end;
  }
}
.navigation__grup {
  border-right: 1px solid #FFFFFF;
  display: flex;
  padding: 0 14px 0px 30px;
}
@media (max-width: 980px) {
  .navigation__grup {
    border-right: none;
  }
}
@media (max-width: 885px) {
  .navigation__grup {
    display: flex;
    align-items: center;
  }
}
.navigation__grup:last-child {
  border-right: none;
}
.navigation__grup--right {
  display: flex;
  flex-direction: column;
}
@media (max-width: 880px) {
  .navigation__grup--right {
    display: none;
  }
}
.navigation__grups {
  position: relative;
  z-index: 7;
  text-align: left;
  color: #FFFFFF;
}
.navigation__citi {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.1;
}
@media (max-width: 885px) {
  .navigation__citi {
    display: none;
  }
}
.navigation__tel {
  position: relative;
  z-index: 7;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 14px;
}
@media (max-width: 885px) {
  .navigation__tel {
    display: none;
  }
}
.navigation__icon {
  position: relative;
  z-index: 7;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}
@media (max-width: 600px) {
  .navigation__icon {
    width: 25px;
    height: 25px;
  }
}

.profil {
  padding: 30px 0 36px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 796px) {
  .profil {
    padding: 40px 0 0px 0;
  }
}
@media (max-width: 600px) {
  .profil {
    padding: 20px 0 0 0;
  }
}
.profil__items {
  flex-basis: calc( 50% - 105px );
}
@media (max-width: 980px) {
  .profil__items {
    flex-basis: calc( 50% - 20px );
  }
}
@media (max-width: 884px) {
  .profil__items {
    flex-basis: calc( 50% - 40px );
  }
}
.profil__items__right {
  position: relative;
  display: flex;
  margin-left: 100px;
}
.profil__nav {
  display: flex;
  justify-content: space-between;
}
.profil__item {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
}
.profil__item--calendar {
  margin-right: auto;
}
.profil__item--items {
  order: 1;
  position: relative;
  z-index: 7;
  width: 40px;
  height: 40px;
  background: #009CB0;
  border-radius: 100%;
}
@media (max-width: 880px) {
  .profil__item--items {
    background: #FFFFFF;
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
}
.profil__item:last-child {
  margin-right: 0;
}
.profil__link {
  display: flex;
  align-items: center;
  fill: rgba(153, 153, 153, 0.9);
  color: rgba(153, 153, 153, 0.9);
  transition: 0.2s linear;
}
.profil__link:hover {
  fill: #009CB0;
  color: #009CB0;
}
.profil__link:hover .profil__title {
  border-bottom: 1px dotted rgba(0, 156, 176, 0.9);
}
.profil__title {
  font-size: 14px;
  font-weight: 300;
  border-bottom: 1px dotted rgba(153, 153, 153, 0.9);
}
.profil__icon {
  padding-right: 4px;
  width: 27px;
  height: 35px;
}
@media (max-width: 395px) {
  .profil__icon {
    display: none;
  }
}
.profil__icon--icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #FFFFFF;
  display: flex;
  align-self: center;
  justify-content: center;
}
@media (max-width: 880px) {
  .profil__icon--icon {
    fill: #009CB0;
  }
}
.profil__grup {
  display: flex;
  flex-direction: column;
}
.profil__links {
  font-size: 14px;
  font-weight: 900;
}
.profil__col {
  opacity: 1;
  position: absolute;
  right: -20%;
  color: #FFFFFF;
  transform: translateX(20%);
  z-index: 14;
  font-size: 14px;
  font-weight: 700;
  padding: 2px 7px;
  background: #FD8322;
  border-radius: 50px;
}
@media (max-width: 880px) {
  .profil__col {
    top: 10%;
    transform: translateY(-10%);
  }
}

.burger {
  z-index: 16;
  cursor: pointer;
  margin-right: auto;
  display: none;
  background: none;
  width: 50px;
  padding: 5px;
  height: 100%;
  top: 20%;
  left: 20px;
  transform: translateY(-15%);
  border: none;
}
.burger__nav {
  top: 50%;
  left: 20px;
  transform: translateY(15%);
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
  transition: opacity 0.2s linear;
}
.burger__nav::before, .burger__nav::after {
  position: absolute;
  content: "";
  display: block;
  background-color: #FFFFFF;
  width: 100%;
  height: 3px;
  left: 0;
  top: 8px;
}
.burger__nav::after {
  top: 17px;
}
@media (max-width: 980px) {
  .burger {
    display: flex;
    align-items: flex-start;
  }
}

.page {
  padding-top: 190px;
}

.wrapper {
  display: flex;
}

.section {
  flex-basis: calc( 100% - 260px );
}

.wrapper {
  padding-bottom: 50px;
}

.menu {
  width: 260px;
  margin-right: 30px;
}

.product {
  padding: 13px 25px;
}
.product__item {
  display: flex;
  flex-wrap: wrap;
}
.product__item__laibl {
  margin-right: 15px;
  text-transform: uppercase;
  padding: 6px 15px;
  border-radius: 50px;
  text-align: center;
  transition: 0.2s linear;
  font-size: 12px;
  font-weight: 700;
  background-color: #FD8322;
  color: #FFFFFF;
}
.product__item__img {
  width: 200px;
  height: auto;
}
.product__item__image {
  margin: 25px 0;
  width: 100%;
  object-fit: cover;
}
.product__inner {
  text-align: center;
  margin: 0 -25px;
  display: block;
  font-size: 16px;
  color: #009CB0;
  cursor: pointer;
  font-weight: 300;
  line-height: 1.5;
  transition: all 0.2s linear;
}
.product__inner:hover {
  background-color: rgba(0, 156, 176, 0.5);
  color: #FFFFFF;
}
.product__content {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.product__content__inner {
  height: 41px;
  width: 41px;
  background-color: rgba(153, 153, 153, 0.5);
  border-radius: 100%;
  margin-right: auto;
  transition: all 0.2s linear;
  position: relative;
}
.product__content__inner:hover {
  background-color: rgba(0, 156, 176, 0.5);
}
.product__content__item {
  text-align: right;
}
.product__content__prise {
  font-size: 24px;
  font-weight: 900;
  color: #333333;
  line-height: 1.1;
}
.product__content__prises {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 300;
  color: rgba(153, 153, 153, 0.5);
  line-height: 1.1;
}
.product__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin: 0 auto;
  fill: #FFFFFF;
  height: 25px;
  width: 25px;
}

.news {
  margin-top: 45px;
}
.news__title {
  text-transform: uppercase;
  font-size: 30px;
  color: rgba(153, 153, 153, 0.6);
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
}
.news__inner {
  margin-top: 47px;
}
.news__subtitle {
  font-size: 12px;
  font-weight: 900;
  color: #FD8322;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.news__content {
  display: flex;
}
.news__time {
  font-weight: 900;
  font-size: 18px;
  color: rgba(153, 153, 153, 0.6);
  flex-basis: 30px;
  margin-right: 18px;
}
.news__text {
  font-size: 12px;
  color: #999999;
  line-height: 1.3;
}

.reviews {
  margin-top: 60px;
}
.reviews__title {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 30px;
  color: rgba(153, 153, 153, 0.6);
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
}
.reviews__inner {
  margin-bottom: 40px;
}
.reviews__inner:hover .reviews__name, .reviews__inner:hover .reviews__time {
  color: #009CB0;
}
.reviews__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.reviews__name {
  font-size: 12px;
  font-weight: 900;
  line-height: 1.3;
}
.reviews__time {
  ze: 12px;
  font-weight: 300;
  line-height: 1.3;
}
.reviews__contents {
  display: flex;
}
.reviews__icon {
  font-size: 25px;
  width: 25px;
  height: 18px;
  fill: rgba(153, 153, 153, 0.6);
}
.reviews__text {
  cursor: pointer;
  flex-basis: calc(100%-30px  );
  display: block;
  font-size: 12px;
  line-height: 1.3;
}
.reviews__text:hover {
  background: #009CB0;
  color: #FFFFFF;
}

.burger {
  position: relative;
  font-size: 0;
  color: transporent;
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  transition: 0.2s linear;
}
.burger__btn {
  margin: 0 auto;
  border-radius: 4px;
  display: block;
  width: 25px;
  height: 3px;
  background-color: #FFFFFF;
}
.burger__btn::before, .burger__btn::after {
  border-radius: 4px;
  position: absolute;
  content: "";
  display: block;
  background-color: #FFFFFF;
  width: 25px;
  height: 3px;
  left: 0px;
  top: 9px;
}
.burger__btn::after {
  top: 23px;
}
.burger:hover {
  background-color: #0e7a88;
}

@keyframes move-decor {
  50% {
    transform: translateX(50%);
  }
}
.catalog {
  color: #FFFFFF;
  position: relative;
  width: 260px;
  z-index: 2;
}
.catalog__control {
  align-items: center;
  display: flex;
  padding: 20px;
}
.catalog__title {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: auto;
  text-transform: uppercase;
}
.catalog__title--filter {
  padding: 25px 12px 25px 12px;
  width: 100%;
  color: #009CB0;
  font-size: 24px;
}
.catalog__btn-line, .catalog__btn-switch::before, .catalog__btn-switch::after {
  background-color: #FFFFFF;
  border-radius: 2px;
  display: block;
  height: 2px;
  margin: auto;
  left: auto;
  right: auto;
  width: 24px;
}
.catalog__btn-switch {
  background-color: #007a8a;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 10px 6px;
}
.catalog__btn-switch::before, .catalog__btn-switch::after {
  content: "";
  width: 100%;
}
.catalog__btn-switch::before {
  margin-bottom: 5px;
}
.catalog__btn-switch::after {
  margin-top: 5px;
}
.catalog.is-visible-list .catalog__btn-switch {
  border-radius: 50%;
  transform: rotate(180deg);
}
.catalog.is-visible-list .catalog__btn-switch::before, .catalog.is-visible-list .catalog__btn-switch::after {
  width: 70%;
}
.catalog__part {
  background: #009CB0;
  position: relative;
  z-index: 2;
}
.catalog__category {
  overflow: hidden;
  max-height: 0;
}
.catalog__item {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 15px 20px;
}
.catalog__item:not(:last-child) {
  border-bottom: 1px solid #00b3ca;
}
.catalog__item:hover {
  background-color: #007a8a;
}
.catalog__item:hover .catalog__decor {
  animation-name: move-decor;
}
.catalog__text {
  margin-right: auto;
}
.catalog__decor {
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  height: auto;
  transform: translateX(0%);
  width: 14px;
}
.catalog__submenu {
  background-color: #FFFFFF;
  border: 2px solid #007a8a;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.catalog__submenu-item {
  height: auto;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.catalog__submenu-item.is-active {
  opacity: 1;
  pointer-events: all;
  z-index: 2;
}
.catalog__submenu-title {
  background-color: #FD8322;
  border-radius: 20px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 10px 30px;
  padding: 2.5px 10px;
  text-transform: uppercase;
}
.catalog.is-visible-submenu .catalog__submenu {
  opacity: 1;
  transform: translateX(100%);
}
.catalog__types {
  border-bottom: 1px solid #f2f2f2;
  padding: 20px 0;
}
.catalog__type {
  color: #00b3ca;
  cursor: pointer;
  padding: 10px 10px 10px 40px;
}
.catalog__type:hover {
  background-color: #00b3ca;
  color: #FFFFFF;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.search__icon {
  fill: #999999;
  height: 17px;
  width: 17px;
  transition: all 0.3s linear;
}
.search__icons {
  fill: #999999;
  height: 11px;
  width: 11px;
  transition: all 0.3s linear;
  transform: rotate(90deg);
}
.search__btn {
  position: relative;
  cursor: pointer;
  color: #999999;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 116px;
  height: 40px;
  font-size: 14px;
  font-weight: 300;
  background: #F3F3F3;
  transition: all 0.3s linear;
}
.search__btns {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  cursor: pointer;
  height: 40px;
  width: 87px;
  background: #FD8322;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 900;
  transition: all 0.3s linear;
}
.search__btns:hover {
  background: #e96d07;
}
.search__input {
  display: flex;
  align-items: flex-start;
  z-index: 3;
  width: calc(100% - (116px+87px) );
  height: 40px;
  border-bottom: 2px solid rgba(153, 153, 153, 0.3);
  border-top: 2px solid rgba(153, 153, 153, 0.3);
}
.search__inputs {
  padding: 5px 5px;
  color: #999999;
  width: 100%;
  height: 100%;
}
.search__categories {
  position: absolute;
  z-index: 3;
  opacity: 0;
  width: 100%;
  height: auto;
  transform: translateY(-118%);
  background: #FFFFFF;
  display: flex;
  border-bottom: 4px solid #FD8322;
  transition: translate 0.9s linear;
}
.search__categories.activ {
  opacity: 1;
  transform: translateY(0%);
}
.search__column {
  padding: 27px 40px 0 40px;
  border-right: 1px solid rgba(153, 153, 153, 0.3);
}
.search__column:last-child {
  border-right: none;
}
.search__item {
  padding-bottom: 20px;
}
.search__item::last-child {
  padding-bottom: 0;
}
.search__link {
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  color: #999999;
  line-height: 1.5;
}
.search__labal {
  position: relative;
}
.search__checkbox {
  position: absolute;
  top: 0;
}
.search__checkbox:checked + .search__link {
  color: #FD8322;
}

.slider {
  position: relative;
  margin: 25px 0 75px 0;
  z-index: 1;
}
.slider__image {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 0%;
  height: 100%;
  overflow: hidden;
}
.slider__image::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0.8) 10%, rgba(255, 255, 255, 0.7) 20%, rgba(255, 255, 255, 0) 30%);
}
.slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__contant {
  position: relative;
  z-index: 2;
  padding: 20px 35px 60px 35px;
}
.slider__title {
  max-width: 380px;
  font-size: 48px;
  font-weight: 900;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.slider__titles {
  color: #FD8322;
}
.slider__text {
  max-width: 215px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.3;
  color: #333333;
  margin-bottom: 15px;
}
.slider__grays {
  color: #999999;
}
.slider__gray {
  padding: 2px 3px;
  background-color: #999999;
  color: #FFFFFF;
}
.slider__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
}
.slider__price {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 20px;
}
.slider__btn {
  margin-right: -35px;
  cursor: pointer;
  display: flex;
  width: 144px;
  height: 35px;
  justify-content: center;
  border-radius: 50px;
  border: 2px solid #FFFFFF;
}
.slider__link {
  display: flex;
  align-self: center;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
  color: #FFFFFF;
}
.slider__icon {
  margin-left: 5px;
  fill: #FFFFFF;
  height: 17px;
  width: 17px;
}
.slider__dotts {
  position: absolute;
  z-index: 3;
  left: 50%;
  margin-top: -27.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
}
.slider__item {
  margin-right: 40px;
  width: 55px;
  height: 55px;
  position: relative;
  transition: all 0.4s ease;
}
.slider__item.activ::before {
  position: absolute;
  border-radius: 50%;
  display: block;
  opacity: 1;
  content: attr(data-name);
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  border: 2px solid #FFFFFF;
  top: 0;
  left: 0;
  background: #FD8322;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 900;
}
.slider__item:last-child {
  margin-right: 0;
}
.slider__links {
  cursor: pointer;
  border-radius: 100%;
  border: 2px solid #FFFFFF;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__links:hover {
  background-color: #FD8322;
}

.products-slider__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.products-slider__control {
  display: flex;
}
.products-slider__title {
  text-transform: uppercase;
  font-family: "Nunito Sans", sans-serif;
  font-size: 30px;
  color: #999999;
  font-weight: 700;
}
.products-slider__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}
.products-slider__item {
  overflow: hidden;
  position: relative;
}
.products-slider__item:hover .products-slider__product--hover {
  transform: translateY(0%);
}
.products-slider__product {
  height: 100%;
  width: 262px;
  border: 1px solid rgba(153, 153, 153, 0.2);
}
.products-slider__product--hover {
  padding: 20px 20px 20px 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 262px;
  border: 3px solid #FD8322;
  background: rgba(0, 0, 0, 0.84);
  transform: translateY(-100%);
  transition: transform 0.2s linear;
}
.products-slider--contant {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}
.products-slider--title {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 1.5;
  font-weight: 700;
}
.products-slider--subtitle {
  color: rgba(153, 153, 153, 0.5);
  line-height: 1.5;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 30px;
}
.products-slider__option {
  display: flex;
  flex-direction: column;
}
.products-slider--pris {
  color: #FFFFFF;
}
.products-slider--texts {
  color: #FFFFFF;
  line-height: 1.5;
  font-weight: 300;
  font-size: 14px;
}
.products-slider--texts:last-child {
  margin-bottom: 20px;
}
.products-slider--texts::after {
  display: block;
  content: attr(data-name);
  color: #FD8322;
  font-weight: 700;
}
.products-slider--icons {
  margin: 0 auto;
  display: flex;
  height: 60px;
  width: 60px;
  background: #FD8322;
  margin-bottom: 29px;
}
.products-slider--iconss {
  margin: 0 auto;
  display: flex;
  height: 60px;
  width: 60px;
  background: #FD8322;
  margin-bottom: 5px;
}
.products-slider--icon {
  width: 31px;
  height: 31px;
}
.products-slider--inner {
  padding: 0 25px;
  text-align: left;
}
.products-slider--titles {
  font-weight: 700;
}
.products-slider--content {
  display: flex;
}
.products-slider--text {
  display: block;
  position: absolute;
  bottom: 19px;
  left: 10px;
  margin-right: auto;
  color: #FD8322;
  font-size: 14px;
  font-weight: 300;
  background: #FFFFFF;
  padding: 6px 11px;
  border-radius: 50px;
}
.products-slider--item {
  align-self: flex-end;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.products-slider__control {
  display: flex;
  align-items: center;
}
.products-slider__btn {
  background: #FFFFFF;
  padding: 0 20px;
}
.products-slider__icon {
  height: 35px;
  width: 30px;
  fill: #009CB0;
  transition: all 0.2s linear;
}
.products-slider__icon--previous {
  transform: rotate(180deg);
}
.products-slider__icon:hover {
  fill: #FD8322;
}
.products-slider__activ {
  font-size: 30px;
  font-weight: 700;
  color: #333333;
}
.products-slider__number_of_pages {
  color: rgba(153, 153, 153, 0.8);
  font-weight: 700;
}

.brands {
  border-top: 3px dashed rgba(153, 153, 153, 0.5);
  border-bottom: 3px dashed rgba(153, 153, 153, 0.5);
}
.brands__control {
  position: relative;
  padding: 40px 0;
}
.brands__slider {
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.brands__image {
  margin-right: 50px;
  min-height: 40px;
  max-width: 150px;
}
.brands__img {
  cursor: pointer;
  transition: 0.3s linear;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -o-object-filter: grayscale(1);
  -moz-filter: grayscale(1);
  max-width: 100%;
  object-fit: cover;
}
.brands__img:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -o-filter: grayscale(0);
  -moz-filter: grayscale(0);
}
.brands__btn {
  background: #fff;
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  transition: all 0.2s linear;
}
.brands__btn--next {
  right: 0%;
}
.brands__btn--previous {
  left: 0%;
}
.brands__icon {
  height: 35px;
  width: 30px;
  fill: #009CB0;
  transition: all 0.2s linear;
}
.brands__icon--next {
  transform: rotate(180deg);
}
.brands__icon:hover {
  fill: #FD8322;
}

.company {
  margin: 36px 0;
  position: relative;
}
.company__body {
  background-color: #009CB0;
  padding: 43px 35px;
}
.company__title {
  color: #22B7CA;
}
.company__subtitle {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
}
.company__contant {
  display: flex;
}
.company__icons {
  height: 15px;
  width: 15px;
  fill: #22B7CA;
  margin-right: 20px;
}
.company__text {
  flex-basis: 48%;
  text-align: left;
  margin-right: 50px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 1.5;
}
.company__text:last-child {
  margin-right: 0;
}
.company__texts {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.company__texts:last-child {
  margin-bottom: 0;
}
.company__link::before {
  font-weight: 700;
  margin: 0 17px 0 7px;
  display: inline-block;
  content: ">>";
  width: 11px;
  height: 11px;
  color: #22B7CA;
}
.company__link--four {
  max-width: 300px;
}
.company__image {
  width: 251px;
  height: 335px;
  z-index: 1;
  position: absolute;
  right: 16%;
  bottom: 10%;
  transform: translate(-16%, -10%);
}
.company__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
  position: absolute;
  right: 0px;
  bottom: -230px;
}

.info {
  border-top: 3px dashed rgba(153, 153, 153, 0.5);
  border-bottom: 3px dashed rgba(153, 153, 153, 0.5);
  margin-bottom: 40px;
}
.info__content {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.info__inner {
  flex-basis: 50%;
}
.info__row {
  margin-left: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.info__row:last-child {
  margin-bottom: 0;
}
.info__item {
  margin-right: auto;
}
.info__title {
  font-weight: 900;
}
.info__btn {
  font-weight: 300;
  background-color: #FFFFFF;
  color: #009CB0;
  transition: 0.2s linear;
}
.info__btn:hover {
  color: #333333;
}
.info__img {
  position: absolute;
  top: 0;
  right: 0;
}

.footer__compani {
  margin-top: 30px;
}
.footer__compani__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.footer__compani__item {
  margin-right: 20px;
}
.footer__contant {
  display: flex;
  flex-direction: column;
  padding: 0 0;
}
.footer__contant__grup {
  display: flex;
  width: 100% !important;
  justify-content: space-between;
}
.footer__contant__contants {
  display: flex;
  flex-direction: column;
}
.footer__contant__inner {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.footer__contant__item {
  flex-basis: 50%;
}
.footer__contant__item:last-child {
  margin-left: 20px;
}
.footer__content {
  display: flex;
  flex-direction: column;
}
.footer__inner {
  display: flex;
}
.footer__item {
  flex-basis: 30%;
}
.footer__items {
  flex-basis: 60%;
  margin-left: 40px;
}
.footer__logo {
  text-align: center;
  display: inline-block;
  background: #009CB0;
  padding: 20px 20px;
}
.footer__title {
  font-family: "Play", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #FFFFFF;
}
.footer__titles {
  text-transform: uppercase;
  font-weight: 900;
  color: rgba(153, 153, 153, 0.5);
}
.footer__link {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #FFFFFF;
}
.footer__number {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.footer__icon {
  margin-right: 15px;
  height: 22px;
  width: 20px;
  fill: #333333;
}
.footer__tel {
  font-weight: 900;
  line-height: 1.3;
}
.footer__payment {
  display: flex;
  margin-top: 40px;
}
.footer__payment__item {
  margin-right: 22px;
}
.footer__payment__item:last-child {
  margin-right: 0;
}
.footer__payment__icon {
  height: 22px;
  width: 35px;
}
.footer__botton {
  width: 100%;
  border-top: 1px solid rgba(153, 153, 153, 0.5);
  padding: 20px 0;
  display: flex;
}
.footer__botton__icon {
  height: 30px;
  width: 30px;
}
.footer__botton__text {
  font-weight: 300;
  color: rgba(153, 153, 153, 0.5);
  margin-right: auto;
}
.footer__botton__nav {
  display: flex;
}
.footer__botton__item {
  margin-right: 17px;
}
.footer__botton__item:last-child {
  margin-right: 0;
}

.filter {
  margin-top: 20px;
  border: 4px solid #00b3ca;
  height: auto;
  display: flex;
  flex-direction: column;
}
.filter__sector {
  border-bottom: 1px solid #00b3ca;
  padding: 0 12px 25px 12px;
}
.filter__sector:last-child {
  border-bottom: none;
}
.filter__sector--spollers {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 12px 0px 12px;
}
.filter__title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 16px;
  color: #009CB0;
}
.filter__slider {
  margin-bottom: 40px;
}
.filter__inputs {
  display: flex;
  justify-content: space-between;
}
.filter__label {
  display: flex;
  align-items: center;
}
.filter__text {
  font-size: 12px;
  font-weight: 300;
  margin-right: 8px;
  color: #999999;
}
.filter__price {
  border-radius: 4px;
  padding: 5px 5px;
  border: 1px solid #999999;
}
.filter__slider {
  background: rgba(153, 153, 153, 0.3);
  border: none;
  border-radius: 100px;
  box-shadow: none;
  height: 4px;
}
.filter__inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.filter__item {
  overflow: hidden;
  padding-right: 32px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter__item:last-child {
  margin-bottom: 0;
}
.filter__item:hover .filter__link, .filter__item:hover .filter__icon {
  transition: 0.2s linear;
  fill: #009CB0;
}
.filter__link {
  overflow: hidden;
  width: 129px;
  overflow: hidden;
  text-decoration: underline;
  font-size: 12px;
  color: #009CB0;
  font-weight: 300;
  line-height: 1.3;
}
.filter__icon {
  align-items: center;
  height: 14px;
  width: 14px;
  fill: #999999;
}
.filter__footer {
  padding-right: 21px;
  display: flex;
  align-items: center;
}
.filter__button {
  margin-right: auto;
  padding: 8px 15px;
  border-radius: 15px;
  display: flex;
  color: #FFFFFF;
  align-items: center;
  background: #009CB0;
  transition: 0.2s linear;
}
.filter__button:hover {
  background: #00b3ca;
}
.filter__button__icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}
.filter__button__text {
  line-height: 1.3;
  font-weight: 900;
  font-size: 14px;
  margin-left: 10px;
}
.filter__buttons {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  transition: 0.2s linear;
}
.filter__buttons__icons {
  width: 20px;
  height: 20px;
  fill: #009CB0;
}
.filter__buttons:hover {
  background: #009CB0;
}
.filter__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.filter__input:checked ~ .filter__bodys .filter__title {
  color: #333333;
  transition: all 0.2s linear;
}
.filter__input:checked ~ .filter__bodys .filter__bodys__btn {
  border: 1px solid rgba(153, 153, 153, 0.3);
  transition: all 0.2s linear;
}
.filter__input:checked ~ .filter__bodys .filter__bodys__icons {
  fill: rgba(153, 153, 153, 0.3);
  transform: rotate(90deg);
  transition: all 0.2s linear;
}
.filter__input:checked ~ .filter__body .filter__accardeon {
  display: block;
}
.filter__bodys {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter__bodys__btn {
  background: #FFFFFF;
  width: 30px;
  height: 30px;
  border: 1px solid #00b3ca;
  border-radius: 100%;
}
.filter__bodys__icons {
  fill: #00b3ca;
  width: 12px;
  height: 12px;
}
.filter__accardeon {
  display: none;
}
.filter__accardeon__label {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}
.filter__accardeon__checkbox {
  display: none;
}
.filter__accardeon__checkbox:checked + .filter__accardeon__bef::before {
  opacity: 1;
}
.filter__accardeon__checkbox:checked + .filter__accardeon__bef {
  border: 2px solid #009CB0;
}
.filter__accardeon__bef {
  position: relative;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(153, 153, 153, 0.3);
}
.filter__accardeon__bef::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 9px;
  height: 9px;
  background: #00b3ca;
  transition: all 0.2s linear;
}
.filter__accardeon__title {
  width: 88px;
  font-size: 12px;
  font-weight: 300;
  color: #999999;
}
.filter__accardeon__titles {
  width: 100px;
  font-size: 12px;
  font-weight: 300;
  color: #999999;
}
.filter__footers {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.filter__footers__btn {
  border-radius: 2px;
  cursor: pointer;
  height: 40px;
  width: 95px;
  background: #FD8322;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 900;
  transition: all 0.3s linear;
}
.filter__footers__btn:hover {
  background: #e96d07;
}
.filter__footers__btn--left {
  background: rgba(153, 153, 153, 0.3);
  color: #333333;
  margin-left: 30px;
  transition: all 0.3s linear;
}
.filter__footers__btn--left:hover {
  background: #999999;
}

.noUi-target {
  background: rgba(153, 153, 153, 0.3);
  border: none;
  border-radius: 100px;
  box-shadow: none;
  height: 5px;
}

.noUi-connect {
  background: #FD8322;
}

.noUi-handle::after,
.noUi-handle::before {
  display: none;
}

.noUi-handle {
  cursor: pointer;
  position: relative;
  box-shadow: none;
  background: #FFFFFF;
  border-radius: 100%;
  border: 1px solid #FD8322;
}
.noUi-handle::after {
  display: block;
  z-index: 12;
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  top: 48.5%;
  left: 48.5%;
  transform: translate(-48.5%, -48.5%);
  background: #FD8322;
}

.noUi-horizontal .noUi-handle {
  height: 23px;
  top: -10px;
  width: 23px;
}

.noUi-horizontal .noUi-handle-upper {
  right: 0;
}

.noUi-tooltip {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-100%, -50%);
  border: none;
  background: none;
  color: rgba(153, 153, 153, 0.6);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.navs {
  padding: 35px 0 26px 0;
}
.navs__inner {
  display: flex;
}
.navs__item--activ {
  margin-right: 20px;
}
.navs__item--activ::after {
  margin-left: 20px;
  font-weight: 700;
  display: inline-block;
  content: ">>";
  width: 11px;
  height: 11px;
  color: #22B7CA;
}
.navs__link {
  font-size: 14px;
  font-weight: #333333;
  color: #999999;
}
.navs__link--activ {
  color: #00b3ca;
  text-decoration: underline;
}

.catalogs__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 15px 0 15px 0;
  background-color: rgba(153, 153, 153, 0.4);
}
.catalogs__navs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 15px 0;
  border: 1px solid rgba(153, 153, 153, 0.4);
}
.catalogs__navs--navs {
  margin: -15px 0;
}
.catalogs__show {
  display: flex;
  align-items: center;
  width: 30%;
}
.catalogs__item {
  display: flex;
  align-items: center;
  width: 50%;
}
.catalogs__title {
  font-size: 14px;
  font-weight: 900;
  line-height: 1.3;
  margin-right: 18px;
}
.catalogs__form {
  display: flex;
  min-width: 163px;
  color: #00b3ca;
  padding: 5px 30px 5px 10px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  font-weight: 300;
  font-size: 14px;
}
.catalogs__form--shows {
  min-width: 50px;
  border: 1px solid rgba(153, 153, 153, 0.4);
}
.catalogs__select {
  position: relative;
}
.catalogs__select::after {
  margin-right: 6px;
  content: "";
  display: block;
  border-style: solid;
  border-width: 8px 7px 0 7px;
  border-color: rgba(153, 153, 153, 0.4) transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 1px;
  z-index: 1;
  transform: translateY(-50%);
}
.catalogs__link {
  color: #333333;
}
.catalogs__view {
  display: flex;
}
.catalogs__btn {
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  display: flex;
  width: 36px;
  height: 36px;
  background: #009CB0;
  margin-right: 10px;
}
.catalogs__btn_activ {
  background: #FFFFFF;
}
.catalogs__btn:hover {
  background: #00b3ca;
}
.catalogs__icon {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
}
.catalogs__pagging {
  display: flex;
}
.catalogs__list {
  display: flex;
}
.catalogs__links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.3;
  color: #333333;
}
.catalogs__links--activ {
  color: #FFFFFF;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background: #FD8322;
}
.catalogs__products {
  display: block;
  margin-bottom: 40px;
  display: flex;
}
.catalogs__icons {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  fill: #FFFFFF;
}

.checkout__title {
  font-size: 30px;
  color: rgba(153, 153, 153, 0.5);
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.checkout__body {
  padding: 15px 15px 20px;
  position: relative;
  background: rgba(153, 153, 153, 0.2);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.checkout__input {
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
}
.checkout__label {
  margin-right: auto;
  padding: 15px 23px;
  margin-bottom: 50px;
}
.checkout__labels {
  cursor: pointer;
  margin-right: auto;
  text-transform: uppercase;
  border-bottom: 2px dashed #00b3ca;
  font-size: 14px;
  color: #00b3ca;
  font-weight: 900;
}
.checkout__form {
  display: none;
  width: 100%;
}
.checkout__inner {
  margin: 0 40px 0 30px;
  display: flex;
}
.checkout__forms {
  width: 400px;
}
.checkout__line {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}
.checkout__line--lines {
  margin-left: 100px;
}
.checkout__line__titles {
  width: 100%;
  font-size: 12px;
  color: #999999;
  order: 1;
}
.checkout__line__title {
  font-size: 14px;
  font-weight: 900;
  display: flex;
  line-height: 1.5;
  color: #333333;
}
.checkout__line__title span {
  margin-left: 2px;
  color: red;
}
.checkout__line__inputs {
  width: 213px;
}
.checkout__line__input {
  color: rgba(153, 153, 153, 0.9);
  width: 100%;
  padding: 10px 10px;
}
.checkout__line__input--input {
  display: flex;
  justify-content: flex-end;
}
.checkout__line__input--texter {
  resize: none;
  padding: 5px 5px;
  width: 216px;
  height: 120px;
}
.checkout__line__selects {
  color: rgba(153, 153, 153, 0.9);
  min-width: 213px;
}
.checkout__texts {
  margin-left: 40px;
  width: calc( 100% - 400px  );
}
.checkout__text {
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 12px;
  color: #999999;
  line-height: 1.3;
}
.checkout__text:last-child {
  margin-bottom: 0;
}
.checkout__text span {
  color: red;
  margin-right: 6px;
}

.order__body {
  display: flex;
  flex-direction: column;
}
.order__items {
  margin-bottom: 25px;
  border-top: 1px solid rgba(153, 153, 153, 0.9);
  border-bottom: 1px solid rgba(153, 153, 153, 0.9);
}
.order__item {
  position: relative;
  padding: 10px 10px;
  display: flex;
  align-items: center;
}
.order__contant {
  display: flex;
  align-items: center;
}
.order__contents {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.order__titles {
  font-size: 14px;
  color: #007a8a;
  font-weight: 900;
  margin-bottom: 15px;
}
.order__titles span {
  font-weight: 300;
}
.order__price {
  font-weight: 900;
  color: #333333;
  font-size: 18px;
}
.order__image {
  margin-right: 5px;
}
.order__img {
  display: block;
  width: 139px;
  height: 141px;
  object-fit: cover;
}
.order__total {
  display: flex;
  flex-direction: column;
}
.order__total__title {
  font-weight: 300;
  color: #999999;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 10px;
}
.order__total__prise {
  color: #333333;
  font-weight: 900;
  font-size: 24px;
}
.order__btn {
  position: absolute;
  background: none;
  top: 10px;
  right: 10px;
  transition: background 0.3s linear;
}
.order__btn:hover .order__button {
  fill: #FD8322;
}
.order__button {
  fill: #999999;
  width: 17px;
  height: 17px;
}
.order__totals__body {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.order__totals__title {
  margin-bottom: 25px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
}
.order__totals__title span {
  font-size: 36px;
  margin-left: 10px;
  color: #FD8322;
}
.order__totals__btns {
  display: flex;
  justify-content: flex-end;
}
.order__totals__btn {
  width: 165px;
  font-weight: 900;
  border-radius: 50px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px 0;
  width: 165px;
  background: #FD8322;
  transition: background 0.3s linear;
}
.order__totals__btn:hover {
  background: #e27215;
}

.quantity {
  display: flex;
  margin-right: 60px;
}
.quantity--quantity {
  margin-right: auto;
}
.quantity__order {
  display: flex;
}
.quantity__input {
  margin: 0 5px;
  width: 55px;
  height: 32px;
}
.quantity__inputs {
  text-align: center;
  width: 100%;
  padding: 5px 5px;
  border: 1px solid rgba(153, 153, 153, 0.5);
  color: #999999;
}
.quantity__button {
  background: none;
}
.quantity__button:hover .quantity__button__icon {
  fill: #FD8322;
}
.quantity__button__icon {
  fill: #00b3ca;
  width: 17px;
  height: 23px;
}
.quantity__button__icon--next {
  transform: rotate(180deg);
}

#tab-1:checked ~ .checkout__label-1 .checkout__labels {
  background: #00b3ca;
  border-bottom: none;
  color: #fff;
  padding: 15px 23px;
}

#tab-2:checked ~ .checkout__label-2 .checkout__labels {
  background: #00b3ca;
  border-bottom: none;
  color: #fff;
  padding: 15px 23px;
}

#tab-3:checked ~ .checkout__label-3 .checkout__labels {
  background: #00b3ca;
  border-bottom: none;
  color: #fff;
  padding: 15px 23px;
}

#tab-3:checked ~ .checkout__form-3 {
  display: block;
}

#tab-2:checked ~ .checkout__form-2 {
  display: block;
}

#tab-1:checked ~ .checkout__form-1 {
  display: block;
}

.good {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.good__title {
  color: #333333;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
}
.good__subtitle {
  font-size: 30px;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(153, 153, 153, 0.6);
  margin-bottom: 25px;
}
.good__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.good__sliber {
  flex-basis: 49%;
  margin-right: 7px;
}
.good__mainsliders__image {
  width: 390px;
  height: 304px;
  border: 1px solid rgba(153, 153, 153, 0.6);
  position: relative;
}
.good__mainsliders__img {
  position: absolute;
  width: 300px;
  height: 276px;
  top: 50%;
  left: 30%;
  transform: translate(-30%, -50%);
}
.good__mainsliders__sale {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  font-size: 16px;
  font-weight: 900;
  border-radius: 100%;
  background: #F65738;
  color: #FFFFFF;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
}
.good__content {
  margin-left: 7px;
  flex-basis: 49%;
}
.good__top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}
.good__button {
  border-radius: 50px;
  padding: 10px 20px;
  background: rgba(153, 153, 153, 0.3);
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}
.good__button__icon {
  margin-right: 5px;
  height: 22px;
  width: 22px;
  fill: #999999;
}
.good__button__title {
  font-size: 14px;
  font-weight: 900;
  color: #999999;
  text-transform: uppercase;
}
.good__incash {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 50px;
  padding: 7px 10px;
  background: #FD8322;
  color: #FFFFFF;
}
.good__midle {
  position: relative;
  align-items: center;
  display: flex;
  padding: 25px 0;
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}
.good__prises {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.good__oldprise {
  color: #999999;
  font-size: 18px;
}
.good__prise {
  font-size: 24px;
  font-weight: 900;
  color: #333333;
}
.good__card {
  padding-right: 20px;
}
.good__cards {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.good__cards__title {
  display: flex;
  justify-content: flex-end;
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px 43px 10px 17px;
  color: #999999;
  background: rgba(153, 153, 153, 0.1);
  transition: background 0.3s linear;
}
.good__cards__title:hover {
  color: #FFFFFF;
  background: #FD8322;
}
.good__cards__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 0;
  background: #FD8322;
  height: 58px;
  width: 58px;
  border-radius: 100%;
  transform: translateY(-50%);
}
.good__cards__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  fill: #FFFFFF;
}
.good__bottom {
  padding: 25px 0 22px 0;
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}
.good__bottom__titles {
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: 900;
  color: #333333;
}
.good__row {
  display: flex;
  margin-top: 20px;
}
.good__column {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-right: auto;
}
.good__column:first-child {
  margin-left: 20px;
}
.good__column__icon {
  margin: auto;
  width: 38px;
  height: 38px;
  fill: #00b3ca;
  margin-bottom: 11px;
}
.good__column__title {
  text-align: center;
  max-width: 72px;
  font-size: 12px;
  font-weight: 300;
  color: #999999;
}
.good__body {
  position: relative;
  margin-bottom: 60px;
}
.good__input {
  z-index: -3;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
}
.good__label {
  margin-right: 50px;
  padding: 15px 0px;
}
.good__labels {
  cursor: pointer;
  margin-right: auto;
  text-transform: uppercase;
  border-bottom: 2px dashed #00b3ca;
  font-size: 14px;
  font-weight: 900;
  color: #00b3ca;
}
.good__contents {
  margin-top: 16px;
  display: none;
  width: 100%;
}
.good__contents__text {
  color: #999999;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}
.good__contents:last-child {
  margin-bottom: 0;
}
.good__contents-1 {
  padding: 37px 30px;
  background: rgba(153, 153, 153, 0.2);
}
.good__contents-2 {
  padding-top: 40px;
}
.good__table {
  border-collapse: collapse;
  width: 100%;
}
.good__tr {
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}
.good__td {
  width: 50%;
  font-size: 16px;
  color: #333333;
  padding: 14px 23px;
}
.good__td--label {
  color: #999999;
}
.good__product {
  padding-top: 20px;
  border-top: 1px solid rgba(153, 153, 153, 0.3);
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

#tab-1:checked ~ .good__label-1 .good__labels {
  background: #00b3ca;
  border-bottom: none;
  color: #fff;
  padding: 15px 23px;
}

#tab-2:checked ~ .good__label-2 .good__labels {
  background: #00b3ca;
  border-bottom: none;
  color: #fff;
  padding: 15px 23px;
}

#tab-2:checked ~ .good__contents-2 {
  display: block;
}

#tab-1:checked ~ .good__contents-1 {
  display: block;
}
