.navs
  padding: 35px 0 26px 0
  &__inner
    display: flex
  &__item--activ
    margin-right: 20px

    &::after 
        margin-left: 20px
        font-weight: $FONT-WEIGHT-BOLT
        display: inline-block
        content: ">>"
        width: 11px
        height: 11px
        color: #22B7CA
  &__link
    font-size: $FONT-SIZE-MENU
    font-weight: $COLOR-BLACK
    color: $COLOR-TEXT
    &--activ
      color: $light-accent
      text-decoration: underline
.catalogs
  &__body
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px 20px
    margin: 15px 0 15px 0
    background-color: rgba($COLOR-TEXT,0.4 )
  &__navs
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px 20px
    margin: 15px 0 
    border: 1px solid rgba($COLOR-TEXT,0.4 )
    &--navs
      margin: -15px 0
  &__show
    display: flex
    align-items: center
    width: 30%
  &__item
    display: flex
    align-items: center
    width: 50%
  &__title
    font-size: $FONT-SIZE-MENU
    font-weight: $FONT-WEIGHT-BLACK
    line-height: $FONT-HEIGHT1
    margin-right: 18px
  &__form
    display: flex
    min-width: 163px
    color: $light-accent
    padding: 5px 30px 5px 10px
    border: none
    -webkit-appearance: none
    appearance: none
    font-family: inherit
    font-weight: $FONT-WEIGHT-LIGHT
    font-size: $FONT-SIZE-MENU
    &--shows
      min-width: 50px
      border: 1px solid rgba($COLOR-TEXT,0.4 )

  &__select
    position: relative
    &::after
      margin-right: 6px
      content: ""
      display: block
      border-style: solid
      border-width: 8px 7px 0 7px
      border-color: rgba($COLOR-TEXT,0.4 ) transparent transparent transparent
      position: absolute
      top: 50%
      right: 1px
      z-index: 1
      transform: translateY(-50%)
  &__link
    color: $COLOR-BLACK
  &__view
    display: flex
  &__btn
    justify-content: center
    align-items: center
    border-radius: 2px
    display: flex
    width: 36px
    height: 36px
    background: $COLOR-GREEN
    margin-right: 10px
    &_activ
      background: $COLOR-ACCENT
    &:hover
      background: $light-accent  
  &__icon
    width: 24px
    height: 24px
    fill: $COLOR-ACCENT
  &__pagging
    display: flex
  &__list
    display: flex
  &__item 
    

    &:first-child
  &__links
    display: flex
    align-items: center
    justify-content: center
    margin: 0 15px
    font-weight: $FONT-WEIGHT-BLACK
    font-size: $FONT-SIZE-TEL
    line-height: $FONT-HEIGHT1
    color: $COLOR-BLACK
    &--activ
      color: $COLOR-ACCENT
      width: 28px
      height: 28px
      border-radius: 100%
      background: $COLOR-ORANGE
  &__products
    display: block
    margin-bottom: 40px
    display: flex
  &__icons
    margin-right: 10px
    width: 25px
    height: 25px
    fill: $COLOR-ACCENT
      
      
      
