.company
  margin: 36px 0
  position: relative
  &__body
    
    background-color: $COLOR-GREEN
    padding: 43px 35px
    @media (max-width: 997px)
      padding: 23px 35px 23px 35px
  &__title
    text-transform: uppercase
    margin-bottom: 40px
    font-size: $FONT-SIZE-CAT
    font-weight: $FONT-WEIGHT-BOLT
    font-family: $FONT-FAMALI1
    color: #22B7CA
    @media (max-width: 997px)
      margin-bottom: 20px
    @media (max-width: 905px)
      font-size: $FONT-SIZE-PRISE
    @media (max-width: 905px)
  &__subtitle
    color: $COLOR-ACCENT
    font-size: $FONT-SIZE
    font-weight: $FONT-WEIGHT-BOLT
    text-transform: uppercase
  &__contant
    position: relative
    display: flex
    
    @media (max-width: 997px)
      flex-wrap: wrap
    
  &__icons
    
    height: 15px
    width: 15px
    fill: #22B7CA
    margin-right: 20px

  &__text
    
    flex-basis: 48%
    text-align: left
    margin-right: 50px
    color: $COLOR-ACCENT
    font-size: $FONT-SIZE
    line-height: $FONT-HEIGHT2
    @media (max-width: 997px)
      flex-basis: 100%
      margin-bottom: 15px
      margin-right: 0
    &:last-child
      margin-right: 0
  &__texts
    color: $COLOR-ACCENT
    font-size: $FONT-SIZE
    line-height: $FONT-HEIGHT2
    margin-bottom: 30px
    @media (max-width: 997px)
      margin-bottom: 15px
    &--three
    &:last-child
      margin-bottom: 0
  &__link
    &::before
      font-weight: $FONT-WEIGHT-BOLT
      margin: 0 17px 0 7px
      display: inline-block
      content: ">>"
      width: 11px
      height: 11px
      color: #22B7CA
    &--four
      max-width: 300px
      @media (max-width: 1135px)
        max-width: 100%
  &__image
    display: block
    width: 255px
    height: 350px
    position: absolute
    z-index: 1
    right: -1%
    bottom: -15%
    transform: translate(1%, 15% )
    @media (max-width: 1136px)
      display: none
  &__img
    object-fit: cover
    width: 100%
    height: 100%
    
