.company
  padding: 36px 0
  &__body
    background-color: $COLOR-GREEN
    padding: 43px 35px
  &__title
    color: #22B7CA
  &__subtitle
    color: $COLOR-ACCENT
    font-size: $FONT-SIZE
    font-weight: $FONT-WEIGHT-BOLT
  &__contant
    display: flex
  &__icons
    
    height: 15px
    width: 15px
    fill: #22B7CA
    margin-right: 20px

  &__text
    flex-basis: 48%
    text-align: left
    margin-right: 50px
    &:last-child
      margin-right: 0
  &__texts
    color: $COLOR-ACCENT
    font-size: $FONT-SIZE
    line-height: $FONT-HEIGHT2
    margin-bottom: 30px
    &--three
    
    &:last-child
      margin-bottom: 0

