.footer
  &__contant
    display: flex
    flex-direction: column
    padding: 0 0
    &__grup
      display: flex
      justify-content: space-between
      
    
    &__contants
      display: flex
      flex-direction: column
    &__inner
      display: flex
      flex-direction: row
      margin-bottom: 30px
    &__item
      flex-basis: 50%
  &__content
    display: flex
    flex-direction: column
  &__inner
    display: flex
  &__item
    flex-basis: 30%
  &
  &__items
    flex-basis: 70%
    margin-left: 40px
  &__logo
    text-align: center
    display: inline-block
    background: $COLOR-GREEN
    padding: 20px 20px
  &__title
    font-family: $FONT-FAMALI2
    font-size: $FONT-SIZE-LOGO
    font-weight: $FONT-WEIGHT-BOLT
    color: $COLOR-ACCENT
  &__titles
    text-transform: uppercase
    font-weight: $FONT-WEIGHT-BLACK
    color: rgba($COLOR-TEXT ,0.5 )
  &__link
    font-size: $FONT-SIZE
    font-family: $FONT-FAMALI1
    font-weight: $FONT-WEIGHT-LIGHT
    color: $COLOR-ACCENT
  &__number
    margin-top: 20px
    display: flex
    align-items: center
  &__icon
    margin-right: 15px
    height: 22px
    width: 20px
    fill: $COLOR-BLACK
  &__tel
    font-weight: $FONT-WEIGHT-BLACK
    line-height: $FONT-HEIGHT1
  &__payment
    display: flex
    margin-top: 40px
    &__item
      margin-right: 22px
      &:last-child
        margin-right: 0
    &__icon
      height: 22px
      width: 35px
      
  &__botton
    width: 100%
    border-top: 1px solid rgba($COLOR-TEXT, 0.5)
    padding: 20px 0
    display: flex
    &__icon
      height: 30px
      width: 30px
    &__text
      font-weight: $FONT-WEIGHT-LIGHT
      color: rgba($COLOR-TEXT, 0.5)
      margin-right: auto
    &__nav
      display: flex
    &__item
      margin-right: 17px
      &:last-child
        margin-right: 0