.info
  border-top: 3px dashed rgba($COLOR-TEXT ,0.5 )
  border-bottom: 3px dashed rgba($COLOR-TEXT ,0.5 )
  margin-bottom: 40px
  
  &__content
    position: relative
    padding: 20px 0
    display: flex
  &__inner
    flex-basis: 50%
  &__row
    display: flex
    align-items: center
    margin-bottom: 30px
    &:last-child
      margin-bottom: 0
  &__item
    margin-right: auto
  &__title
    font-weight: $FONT-WEIGHT-BLACK
  &__btn
    font-weight: $FONT-WEIGHT-LIGHT
    background-color: $COLOR-ACCENT
    color: $COLOR-GREEN
    transition: 0.2s linear
    &:hover
      color: $COLOR-BLACK
  &__image
    
  &__img
    position: absolute
    top: 0
    right: 0