.good
  margin-top: 25px
  display: flex
  flex-direction: column
  &__items
    margin-bottom: 0px
  &__title
    text-transform: uppercase
    font-size: $FONT-SIZE-CAT
    color: $COLOR-BLACK
    font-weight: $FONT-WEIGHT-REG
    font-family: $FONT-FAMALI1
    @media (max-width: 905px)
      font-size: $FONT-SIZE-PRISE
  &__subtitle
    font-size: $FONT-SIZE-CAT
    font-family: $FONT-FAMALI4 
    text-transform: uppercase
    font-weight: $FONT-WEIGHT-BOLT
    color: rgba($COLOR-TEXT, 0.6)
    margin-bottom: 25px
    @media (max-width: 991px)
      margin-bottom: 15px
      font-size: $FONT-SIZE-PRISE
  &__container
    display: flex
    justify-content: space-between
    @media (max-width: 762px)
      display: flex
      flex-wrap: wrap
  &__content
    min-width: 0
    overflow: hidden
    flex-basis: 48%
    @media (max-width: 1124px)
      flex-basis: 45%
      
    @media (max-width: 762px)
      flex: 1 1 100%
  &__bodys
    flex-basis: 48%
    &--bodys
      display: flex
      flex-direction: column
    @media (max-width: 1130px)
      flex-basis: 52%
    @media (max-width: 762px)
      flex-basis: 100%
      margin-top: 20px
  &__mainslider
    overflow: hidden
  &__mainsliders
    flex-basis: 100%
    &__image
      width: 390px
      height: 304px
      border: 1px solid rgba($COLOR-TEXT, 0.6)
      position: relative
      @media (max-width: 1124px)
        width: 330px
      @media (max-width: 1053px)
        width: 300px
      @media (max-width: 989px)
        width: 100%
    &__img
      position: absolute
      width: 300px
      height: 276px
      top: 50%
      left: 30%
      transform: translate(-30%,-50%)
      @media (max-width: 1124px)
        width: 250px
    &__sale
      display: flex
      align-items: center
      justify-content: center
      height: 60px
      width: 60px
      font-size: $FONT-SIZE-T2
      font-weight: $FONT-WEIGHT-BLACK
      border-radius: 100%
      background: #F65738
      color: $COLOR-ACCENT
      position: absolute
      z-index: 1
      top: 10px
      left: 10px
  &__subslider
    
    padding-top: 22px
  &__subsliders
    overflow: hidden
    &__images
      max-width: 86px
      transition: all 0.3s linear
      position: relative
      max-width: 86px
      height: 68px
      border: 1px solid rgba($COLOR-TEXT, 0.6)
      margin-right: 12px
      @media (max-width: 989px)
        max-width: 95px
      &.swiper-slide-thumb-active
          border: 3px solid $COLOR-ORANGE 
      &:last-child
        margin-right: 0
    &__imgs
      padding: 6px
      width: 100%
      height: 100%
      object-fit: cover
    

  &__top
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid rgba($COLOR-TEXT, 0.3)
    padding-bottom: 15px
  &__button
    display: flex
    border-radius: 50px
    padding: 10px 20px
    background: rgba($COLOR-TEXT, 0.3)
    align-items: center
    &__icon
      margin-right: 5px
      height: 22px
      width: 22px
      fill: $COLOR-TEXT
    &__title
      
      font-size: $FONT-SIZE-MENU
      font-weight: $FONT-WEIGHT-BLACK
      color: $COLOR-TEXT
      text-transform: uppercase
  &__incash
    display: flex
    align-items: center
    font-weight: $FONT-WEIGHT-LIGHT
    text-transform: uppercase
    font-size: $FONT-SIZE-MENU
    border-radius: 50px
    padding: 7px 10px
    background: $COLOR-ORANGE
    color: $COLOR-ACCENT
  &__midle
    display: flex
    align-items: center
    padding: 25px 0
    border-bottom: 1px solid rgba($COLOR-TEXT, 0.3)
    @media (max-width: 977px)
      display: flex
      flex-wrap: wrap
  &__prises
    display: flex
    flex-direction: column
    margin-right: auto
    flex-basis: 20%
  &__oldprise
    color: $COLOR-TEXT
    font-size: $FONT-SIZE-TEL
  &__prise
    font-size: $FONT-SIZE-PRISE
    font-weight: $FONT-WEIGHT-BLACK
    color: $COLOR-BLACK
  &__card
    width: 35%
    margin-left: auto
    @media (max-width: 977px)
      width: 100%
      padding-top: 20px
  &__cards
    position: relative
    display: flex
    padding-right: 20px
    &__title
      
      font-weight: $FONT-WEIGHT-BLACK
      text-transform: uppercase
      width: 100%
      padding: 10px 10px
      color: $COLOR-TEXT
      background: rgba($COLOR-TEXT, 0.1)
      transition: background 0.3s linear
      &:hover
        color: $COLOR-ACCENT
        background: $COLOR-ORANGE
    &__icons
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      top: 50%
      right: 0%
      background: $COLOR-ORANGE
      height: 58px
      width: 58px
      border-radius: 100%
      transform: translate(0%,-50%,)
    &__icon
      display: flex
      align-items: center
      justify-content: center
      height: 32px
      width: 32px
      fill: $COLOR-ACCENT
  &__bottom
    padding: 25px 0 22px 0
    border-bottom: 1px solid rgba($COLOR-TEXT, 0.3)
    &__titles
      font-size: $FONT-SIZE-MENU
      line-height: $FONT-HEIGHT1
      text-transform: uppercase
      font-weight: $FONT-WEIGHT-BLACK
      color: $COLOR-BLACK
      
  &__row
    display: flex
    margin-top: 20px
  &__column
    display: flex
    text-align: center
    flex-direction: column
    margin-right: auto
    &:first-child
      margin-left: 20px
    &__icon
      margin: auto
      width: 38px
      height: 38px
      fill: $light-accent
      margin-bottom: 11px
    &__title
      text-align: center
      max-width: 72px
      font-size: $FONT-SIZE
      font-weight: $FONT-WEIGHT-LIGHT
      color: $COLOR-TEXT
  &__body
    position: relative
    margin-bottom: 60px
    margin-top: 51px
  &__input
    z-index: -3
    opacity: 0
    top: 0
    left: 0
    position: absolute
  &__label
    margin-right: 50px
    padding: 15px 0px
    @media (max-width: 970px)
      margin-right: 12px
      padding: 7px 0px
  &__labels
    cursor: pointer
    margin-right: auto
    text-transform: uppercase
    border-bottom: 2px dashed $light-accent
    font-size: $FONT-SIZE-MENU
    font-weight: $FONT-WEIGHT-BLACK
    color: $light-accent
    
  
  &__contents
    margin-top: 16px
    display: none
    width: 100%
    &__text
      color: $COLOR-TEXT
      line-height: $FONT-HEIGHT2 
      font-size: $FONT-SIZE-MENU
      font-weight: $FONT-WEIGHT-LIGHT
      margin-bottom: 10px
    &:last-child
      margin-bottom: 0
  &__contents-1 
    padding: 37px 30px
    background: rgba($COLOR-TEXT , 0.2 )
    @media (max-width: 970px)
      padding: 15px 12px
  &__contents-2
    padding-top: 40px
    @media (max-width: 970px)
      padding-top: 20px
  &__table
    border-collapse: collapse
    width: 100%
  &__tr
    border-bottom: 1px solid rgba($COLOR-TEXT, 0.3)
  &__td
    width: 50%
    font-size: $FONT-SIZE-T2
    color: $COLOR-BLACK
    padding: 14px 23px
    @media (max-width: 970px)
      padding: 7px 12px
    &--label
      color: $COLOR-TEXT
  &__product
    padding-top: 20px
    border-top: 1px solid rgba($COLOR-TEXT, 0.3)
    border-bottom: 1px solid rgba($COLOR-TEXT, 0.3)
#tab-1:checked ~ .good__label-1 .good__labels
  background: $light-accent
  border-bottom: none
  color: #fff
  padding: 15px 23px
#tab-2:checked ~ .good__label-2 .good__labels
  background: $light-accent
  border-bottom: none
  color: #fff
  padding: 15px 23px
#tab-2:checked ~.good__contents-2
  display: block
#tab-1:checked ~.good__contents-1
  display: block