.products-slider
  &__header
    display: flex
    justify-content: space-between
    margin-bottom: 30px
  &__title
    text-transform: uppercase
    font-family: $FONT-FAMALI4
    font-size: $FONT-SIZE-CAT
    color: $COLOR-TEXT
    font-weight: $FONT-WEIGHT-BOLT
  &__row
    display: flex
    justify-content: space-between
    margin-bottom: 31px
  &--product
    height: 382px
    width: 262px
    border: 1px solid rgba($COLOR-TEXT ,0.2 )
  &--inner
    padding: 0 25px
    text-align: left
  &--item
    display: flex
    flex-direction: column
  &--title
    font-weight: $FONT-WEIGHT-BOLT