.search
  display: flex
  align-items: center
  position: relative
  z-index: 1
  min-width: 0%
  &__icon
    fill: $COLOR-TEXT
    height: 17px
    width: 17px
    transition: all .3s linear
  &__icons
    fill: $COLOR-TEXT
    height: 11px
    width: 11px
    transition: all .3s linear
    transform: rotate(90deg)
  &__btn
    position: relative
    cursor: pointer
    color: $COLOR-TEXT
    padding: 0 15px
    display: flex
    align-items: center
    justify-content: space-between
    width: 116px
    height: 40px
    font-size: $FONT-SIZE-MENU
    font-weight: $FONT-WEIGHT-LIGHT
    background: #F3F3F3
    transition: all .3s linear
  &__btns
    display: inline-flex
    align-items: center
    justify-content: center
    z-index: 3
    cursor: pointer
    height: 40px
    width: 87px
    background: $COLOR-ORANGE
    color: $COLOR-ACCENT
    font-size: $FONT-SIZE
    font-weight: $FONT-WEIGHT-BLACK
    transition: all .3s linear
    &:hover
      background: #e96d07
  &__input
    display: flex
    align-items: flex-start
    z-index: 3
    width: calc(100% - (116px+87px) )
    height: 40px
    border-bottom: 2px solid rgba($COLOR-TEXT, 0.3)
    border-top: 2px solid rgba($COLOR-TEXT, 0.3)
  &__inputs
    padding: 5px 5px 
    color: $COLOR-TEXT
    width: 100%
    height: 100%
  &__categories
    border-right: 1px solid rgba($COLOR-TEXT, 0.1)
    border-left: 1px solid rgba($COLOR-TEXT, 0.1)
    position: absolute
    z-index: 3
    opacity: 0
    width: 100%
    height: auto
    transform: translateY(-118%)
    background: $COLOR-ACCENT
    display: flex
    border-bottom: 4px solid $COLOR-ORANGE
    transition: translate 0.9s linear
    &.activ
      opacity: 1
      transform: translateY(0%)
    
  &__column
    padding: 27px 40px 0 40px
    border-right: 1px solid rgba($COLOR-TEXT, 0.3)
    &:last-child
      border-right: none
  &__item
    padding-bottom: 20px
    &::last-child
      padding-bottom: 0
  &__link
    cursor: pointer
    font-size: $FONT-SIZE
    font-weight: $FONT-WEIGHT-LIGHT
    color: $COLOR-TEXT
    line-height: $FONT-HEIGHT2
  &__labal
    position: relative
  &__checkbox
    position: absolute
    top: 0
    left: 0
    opacity: 0
    &:checked + .search__link
      color: $COLOR-ORANGE