
@keyframes move-decor
 50%
  transform: translateX(50%)
.catalog
  color: $COLOR-ACCENT
  position: relative
  width: 260px
  z-index: 2
  @media (max-width: 991px)
    
    width: 100%
  &__control
    align-items: center
    display: flex
    padding: 20px
    @media (max-width: 905px)
      padding-top: 20px
  &__title
    
    font-size: $FONT-SIZE-CAT
    font-weight: bold
    line-height: 1.2
    margin-right: auto
    text-transform: uppercase
    @media (max-width: 905px)
      font-size: $FONT-SIZE-PRISE
  &__btn
    &-line
      background-color: $COLOR-ACCENT
      border-radius: 2px
      display: block
      height: 2px
      margin: auto
      left: auto
      right: auto
      width: 24px
    &-switch
      background-color: $dark-accent
      border: none
      border-radius: 2px
      cursor: pointer
      padding: 10px 6px
      &::before, &::after
        @extend .catalog__btn-line
        content: ''
        width: 100%
      &::before
        margin-bottom: 5px
      &::after
        margin-top: 5px
      .catalog.is-visible-list &
        border-radius: 50%
        transform: rotate(180deg)
        &::before, &::after
          width: 70%
  &__part
    background: $COLOR-GREEN
    position: relative
    z-index: 2
  &__category
    overflow: hidden
    max-height: 0
    @media (max-width: 991px)
      .catalog.is-visible-submenu &
        width: 50%
    @media (max-width: 545px)
      .catalog.is-visible-submenu &
        width: 40%
  &__item
    align-items: center
    cursor: pointer
    display: flex
    padding: 15px 20px
    
    &:not(:last-child)
      border-bottom: 1px solid $light-accent
    &:hover
      background-color: $dark-accent
      .catalog__decor
        animation-name: move-decor
  &__text
    margin-right: auto
    
  &__decor
    animation-duration: 1s
    animation-timing-function: linear
    animation-iteration-count: infinite
    height: auto
    transform: translateX(0%)
    width: 14px
  &__submenu
    background-color: $COLOR-ACCENT
    border: 2px solid $dark-accent
    height: 100%
    left: 0
    opacity: 0
    position: absolute
    top: 0%
    width: 100%
    z-index: 1
    @media (max-width: 991px) 
      width: 50%
      z-index: 2
    @media (max-width: 545px)
      width: 70%
      z-index: 2
    &-item
      height: auto
      left: 0
      opacity: 0
      pointer-events: none
      position: absolute
      top: 0
      width: 100%
      z-index: 1
      
      &.is-active
        opacity: 1
        pointer-events: all
        z-index: 2
    &-title
      background-color: $COLOR-ORANGE
      border-radius: 20px
      display: inline-block
      font-size: 14px
      font-weight: bold
      margin: 10px 0 10px 30px
      padding: 2.5px 10px
      text-transform: uppercase
    .catalog.is-visible-submenu &
      opacity: 1
      transform: translateX(100%)
  &__types
    border-bottom: 1px solid $grey 
    padding: 20px 0
  &__type
    color: $light-accent
    cursor: pointer
    padding: 10px 10px 10px 40px
    &:hover
      background-color: $light-accent
      color: $COLOR-ACCENT