@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:wght@300;900&family=Unica+One&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,700;1,700&display=swap')
@import "null.sass"
@import "var.sass"

body, html
  height: 100%
  background: $COLOR-ACCENT
  font-size: $FONT-SIZE
  line-height: 1.1
  font-weight: $FONT-WEIGHT-REG
  font-family: $FONT-FAMALI1
.container
  max-width: 1140px
  padding: 0 10px
  margin: 0 auto
  
.header
  position: fixed
  height: auto
  display: flex
  flex-direction: column
  &__top
    height: 90px
    position: fixed
    top: 0
    width: 100%
    left: 0
    z-index: 7
    background-color: $COLOR-GREEN
    color: $COLOR-ACCENT
    background: linear-gradient(90deg, rgba(0,156,176,1) 1%, rgba(0,156,176,1) 37%, rgba(0,156,176,1) 70%, rgba(0,156,176,1) 92%)
    box-shadow: 4px 6px 10px rgba($COLOR-GREEN, 0.25 )
  &__botton
    position: fixed
    top: 75px
    width: 100%
    left: 0
    z-index: 6
    background-color: $COLOR-ACCENT
    
.navigation
  padding: 20px 0
  position: relative
  display: flex
  color: $COLOR-ACCENT
  align-items: center
  justify-content: space-between
  &__navigation
  &__items
    display: flex
    align-self: center
  &__nav
    display: flex
    @media (max-width: 980px)
        display: flex
        flex-direction: column
         
    @media (max-width: 980px)
      opacity: 0
      z-index: 7
      background-color: $COLOR-ACCENT
      position: fixed
      height: 100%
      width: 100%
  
      top: 0
      left: 0
      overflow: auto
      padding: 100px 20px 30px 20px
      transition: all 0.2s ease 0.1s
      &::before
        position: absolute
        z-index:  7
        width: 100%
        content: ""
        height: 90px
        top: 0
        left: 0
        background-color: $COLOR-GREEN
      &.activ
        opacity: 1
        
        
  &__inner
    @media (max-width: 980px)
      margin-bottom: 5px
    
      
  &__item
    margin-right: auto
    margin-bottom: 13px
    @media (max-width: 980px)
      margin-bottom: 5px
      margin-top: 10px
    &:nth-last-child(2n+1)
      margin-bottom: 0
  &__link
    text-align: left
    line-height: $FONT-HEIGHT1
    text-decoration: underline
    font-family: $FONT-FAMALI2
    font-size: $FONT-SIZE-MENU
    font-weight: $FONT-WEIGHT-BOLT
    color: $COLOR-ACCENT
    padding: 9px 15px
    border-radius: 50px
    transition: 0.2s linear
    &:hover
      background: #068292
    @media (max-width: 880px)
      font-size: $FONT-SIZE-TEL
      color: $COLOR-BLACK
      &:hover
        background: #068292
        color: $COLOR-ACCENT
  &__logo
    
    top: 50%
    position: absolute
    right: 50%
    transform: translate(50%,-50%)
    z-index: 15
    &::before
      z-index: 7
      position: absolute
      top: 50%
      right: 50%
      display: block
      content: ''
      width: 250px
      height: 150px
      border-radius: 100%
      background: linear-gradient(90deg, rgba(0,156,176,1) 1%, rgba(0,156,176,1) 37%, rgba(0,156,176,1) 70%, rgba(0,156,176,1) 92%)
      transform: translate(50%,-50%)
      @media (max-width: 600px)
        display: none

  &__logos
    text-align: center
    
  &__title
    
    font-family: $FONT-FAMALI2
    font-size: $FONT-SIZE-LOGO
    font-weight: $FONT-WEIGHT-BOLT
    color: $COLOR-ACCENT
  &__subtitle
    font-size: $FONT-SIZE
    font-family: $FONT-FAMALI1
    font-weight: $FONT-WEIGHT-LIGHT
  &__telephone
    align-items: center
    display: flex
    @media (max-width: 880px)
      align-items: flex-end
  &__grup
    border-right: 1px solid $COLOR-ACCENT
    display: flex
    padding: 0 14px 0px 30px
    @media (max-width: 980px)
        border-right: none
    @media (max-width: 885px)
      display: flex
      align-items: center
    &:last-child
      border-right: none
    &--right
      display: flex
      flex-direction: column
      @media (max-width: 880px)
        display: none
  &__grups
    position: relative
    z-index: 7
    text-align: left
    color: $COLOR-ACCENT
    
  &__citi
    font-family: $FONT-FAMALI1
    font-size: $FONT-SIZE
    font-weight: $FONT-WEIGHT-LIGHT
    line-height: $FONT-HEIGHT
    @media (max-width: 885px)
      display: none
  &__tel
    color: $COLOR-ACCENT
    font-weight: $FONT-WEIGHT-BLACK
    font-size: $FONT-SIZE-MENU
    @media (max-width: 885px)
      display: none
  &__icon
    position: relative
    z-index: 7
    margin-right: 5px
    width: 20px
    height: 20px
    fill: $COLOR-ACCENT
    @media (max-width: 600px)
      
      width: 25px
      height: 25px
// ====== burger======//
.profil
  padding: 30px 0 36px 0
  display: flex
  justify-content: space-between
  @media (max-width: 796px)
    padding: 40px 0 0px 0
  @media (max-width: 600px)
    padding: 20px 0 0 0
  &__items
    flex-basis: calc( 50% - 105px )
    @media (max-width: 980px)
      flex-basis: calc( 50% - 20px )
    @media (max-width: 884px)
      flex-basis: calc( 50% - 40px )
    &__right
      position: relative
      display: flex
      margin-left: 100px
  &__nav
    display: flex
    justify-content: space-between
    &:last-child
      
  &__item
    display: flex
    justify-content: space-between
    margin-right: auto
    &--calendar
      margin-right: auto
    &--items
      order: 1
      position: relative
      z-index: 7
      width: 40px
      height: 40px 
      background: $COLOR-GREEN
      border-radius: 100%
      @media (max-width: 880px)
        background: $COLOR-ACCENT
        display: flex
        align-items: center
        margin-right: 15px
    &:last-child
      margin-right: 0
  &__link
    display: flex
    align-items: center
    fill: rgba($COLOR-TEXT,0.9 )
    color: rgba($COLOR-TEXT,0.9 )
    transition: 0.2s linear
    
      
    &:hover
      .profil__title
        border-bottom: 1px dotted rgba($COLOR-GREEN,0.9 )
      fill: $COLOR-GREEN
      color: $COLOR-GREEN
      
  &__title
    font-size: $FONT-SIZE-MENU
    font-weight: $FONT-WEIGHT-LIGHT
    border-bottom: 1px dotted rgba($COLOR-TEXT,0.9 )
  &__icon
    padding-right: 4px
    width: 27px
    height: 35px
    @media (max-width: 395px)
      display: none
    &--icon
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      fill: $COLOR-ACCENT
      display: flex
      align-self: center
      justify-content: center
      @media (max-width: 880px)
        fill: $COLOR-GREEN
  &__grup
    display: flex
    flex-direction: column
  &__links
    font-size: $FONT-SIZE-MENU
    font-weight: $FONT-WEIGHT-BLACK
  &__col
    opacity: 1
    position: absolute
    right: -20%
    color: $COLOR-ACCENT
    transform: translateX(20%)
    z-index: 7
    font-size: $FONT-SIZE-MENU
    font-weight: $FONT-WEIGHT-BOLT
    padding: 2px 7px
    background: $COLOR-ORANGE
    border-radius: 50px
    @media (max-width: 880px)
      top: 10%
      transform: translateY(-10%)
// ====== burger======//
.burger
  z-index: 7
  cursor: pointer
  margin-right: auto
  display: none
  background: none
  width: 50px
  padding: 5px
  height: 100%
  position: absolute
  top: 20%
  left: 20px
  transform: translateY(-15%)
  border: none
  &::before,&::after
  &__nav
    top: 50%
    left: 20px
    transform: translateY(15%)
    border-radius: 4px
    display: block
    width: 100%
    height: 3px
    background-color: $COLOR-ACCENT
    transition: opacity .2s linear
    &::before,&::after
      position: absolute
      content: ""
      display: block
      background-color: $COLOR-ACCENT
      width: 100%
      height: 3px
      left: 0
      top: 8px
    &::after
      top: 17px
    &.activ
     
  @media (max-width: 980px)
    display: flex
    align-items: flex-start
.page
  position: relative
  height: 100%
  padding-top: 190px
  z-index: 1
.wrapper
  display: flex
  
.section
  flex-basis: calc( 100% - 260px )
.wrapper
  padding-bottom: 50px
@import "aside.sass"
@import "burger.sass"
@import "submenu.sass"
@import "search.sass"
@import "slider.sass"
@import "produgs.sass"
@import "brands.sass"
@import "compony.sass"
@import "info.sass"
@import "footer.sass"
@import "filter.sass"
@import "rage-slider.sass"
@import "catalog.sass"
@import "order.sass"
@import "product.sass"
  