
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:wght@300;900&family=Unica+One&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,700;1,700&display=swap')
@import "null.sass"
@import "var.sass"
.submenu
  position: absolute
  top: 0
  left: 100%
  height: 53.7%
  width: 280px
  border: 2px solid $COLOR-GREEN
  background-color: $COLOR-ACCENT
