// основные цвета:
$COLOR-ACCENT: #FFFFFF
$COLOR-RED: #ED5656
$COLOR-BLACK: #1D1D1D
$COLOR-MENU: #222222
$COLOR-GALLERY: #979797
$COLOR-TEXTT: #333333
$COLOR-TEXT: #8B8B8B
$COLOR-TEXT: #B1B1B1
// основные  шрифты:
$FONT-FAMALI1: 'Open Sans', sans-serif
$FONT-FAMALI2: 'Arvo', serif
// основные  размеры шрифта:
$FONT-SIZE-T1: 45px
$FONT-SIZE-T2: 30px
$FONT-SIZE-MENU: 14px
$FONT-SIZE-BUTT: 13px
$FONT-SIZE-TEXT: 20px
$FONT-SIZE-TEXT1: 15px
$FONT-SIZE-ST: 18px
$FONT-SIZE-TEXT1: 16px
// основные толщины шрифта:
$FONT-STYLE:italic
$FONT-WEIGHT-BOLT: 800
$FONT-WEIGHT-REG: 400
$FONT-WEIGHT-SEMI: 600